/**
* YoutubeCrawlerTool web application customization styles
*
* @author jsanchezmend
*
*/

/*
* General
*/
.btn-danger {
    background-color: #dd2c00;
}
.inlineForm {
	float: left;
	-webkit-box-sizing: unset !important;
	-moz-box-sizing: unset !important;
	box-sizing: unset !important;
}

/*
* Login page
*/
body.login {
  background-color: #dd2c00;
}
body.login a:hover {
	text-decoration: none;
}
body.login .panel-default {
    border: none;
    /* -webkit-box-shadow: none; */
  	/* box-shadow: none; */
}
body.login .panel-default > .panel-heading {
	background-color: #dd2c00;
	border: none;
}
body.login .panel-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
body.login .panel-body {
    background-color: #dd2c00;
}

/*
* Analysis page
*/
#cy {
  width: 100%;
  height: 100%;
  display: block;
}
.panel-graph .panel-body {
	height:600px;
}
#cyOptions {
	position: absolute;
   	top: 10px;
   	left: 10px;
   	z-index: 1;
}
#cyOptions .btn {
	float:left;
}
#cyLegend {
	position: absolute;
   	top: 10px;
   	right: 10px;
   	z-index: 1;
}
#cyLegend .panel-body {
	height:auto;
	padding: 10px 10px 0px 10px;
}
#cyLegend label {
 	margin-bottom: 0px;
}
/*
* Graph node content
*/
.qtip-bootstrap .qtip-content {
    padding: 0px;
}
.panel-node {
	margin: 0 !important;
}
.node-title {
	text-align: center;
}
img.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*
* Loader
*/
.loader {
	margin: auto;
	margin-top:100px;
    border: 16px solid #ddd; /* Light grey */
    border-top: 16px solid #dd2c00; /* Red */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}